{% extends 'base.html' %}

{% block title %}
    Change Password - {{ block.super }} 
{% endblock title %}


{% block content %}
<div id="changepassword-wrapper">
    <div id="changepassword-box">
        <h1>This is the Change Your Password</h1>
        <form method="POST" class="form-signin">
            {% csrf_token %}
            <!-- All this can be replaced with {{form.as_p}} -->
            {{form.as_p}}
            <br>
            <p>
                <button class="form-control btn btn-success" type='submit'>Change Password</button>
            </p>
            <p>
            <h2>Changed your mind?</h2>
            <a class="btn btn-danger" href="{% url 'account' %}">Back</a>
            </p>
        </form>
    </div>
</div>
{% endblock content %}