.container {
    display: grid;
    grid-template-areas:
    
    "display display display display"
    "one two three clear"
    "four five six reset"
    "seven eight nine zer"
    "plus minus multi divide"
    "equal equal equal equal";

    grid-gap: 5px;
    height: 70vh;
    width: 50%;
    margin: auto;
    margin-top: 50px;



    /* "button-digit button-digit button-digit button-clear"
    "button-digit button-digit button-digit button-reset"
    "button-digit button-digit button-digit button-digit"
    "button-symbol button-symbol button-symbol button-symbol"
    "button-equal button-equal button-equal button-equal" */
}

#display {
    grid-area: display
}

.button-digit {
    background-color: yellow;
}
.button-clear {
    background-color: red;
}
.button-reset {
    background-color: pink;
}
.button-symbol {
    background-color: blue;
}
.button-equal {
    background-color: green;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zer;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: multi;
}

.divide {
    grid-area: divide;
}
.clear {
    grid-area: clear;
}
.reset {
    grid-area: reset;
}
.equal {
    grid-area: equal;
}

